# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/

# IDEs/editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment/config
.env

# Flask files
instance/
*.log

# Cache
*.cache
*.pytest_cache
.env
